<link href="_content/MaximaDesignSystem/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<link href="_content/MaximaDesignSystem/MAXIMACSS/maxima.css" rel="stylesheet" />

<div class="p-5 text-center">
    <h3 class="text-primary">Hola, Maxima Design</h3>
    <p>Ahora este botón debería ser morado y redondo:</p>

    <button class="btn btn-primary btn-lg mt-3">
        Botón Personalizado
    </button>
</div>

