@namespace MaximaDesignSystem

<div class="card border-0 shadow-sm h-100 py-5 d-flex flex-column align-items-center justify-content-center hover-scale">
    <div class="mb-3 text-secondary">
        @Icono
    </div>
    <div class="fw-bold fs-5 text-dark">@Titulo</div>
</div>

<style>
    .hover-scale { transition: transform 0.2s; }
    .hover-scale:hover { transform: translateY(-5px); cursor: pointer; }
</style>

@code {
    [Parameter] public string Titulo { get; set; }
    [Parameter] public RenderFragment Icono { get; set; }
}