@namespace MaximaDesignSystem

<div class="card border-0 shadow-sm p-4 h-100">
    <div class="text-secondary mb-2">@Titulo</div>
    <div class="display-6 fw-bold text-dark">@Valor</div>
</div>

@code {
    [Parameter] public required string Titulo { get; set; }
    [Parameter] public required string Valor { get; set; }
}